<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5 text-danger">Error</h1>
        <div class="alert alert-danger mt-4">
            <p th:text="${error}"></p>
        </div>
        <a href="/" class="btn btn-secondary mt-4">Back</a>
    </div>
</body>

</html>